[Desktop Entry]
Type=Application
Name=ProtonBox
Comment=Gerencie e combine comandos úteis do Proton
Comment[en]=Manage and combine useful Proton launch commands
Exec=protonbox
Icon=protonbox
Terminal=false
Categories=Game;
StartupWMClass=ProtonBox
